<form class="{{cssClass}}" autocomplete="off">
  <div class="row">
    <div class="col-6">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="col-6">
        <div class="col-12">
            <label>{{localize "LEXOCCULTUM.GEAR.ARMOR.NAME"}}</label>
            <input name="name" type="text" value="{{item.name}}" />
        </div
      <div class="col-12">
        <label>{{localize "LEXOCCULTUM.GEAR.ARMOR.PROTECTION"}}</label>
        <input name="data.pt" type="text" value="{{data.pt}}" />
      </div>
      <div class="col-12">
        <label>{{localize "LEXOCCULTUM.GEAR.ARMOR.MOVE_MODIFIER"}}</label>
        <input name="data.mm" type="text" value="{{data.mm}}" />
      </div>
    </div>
    <div class="col-6">

    </div>

  </div>
</form>
